rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /questions/{qid} {
      allow read: if resource.data.isActive == true;
      allow write: if request.auth != null;
    }
  }
}
